[Unit]
Description={{ app_name }}

[Service]
ExecStart=/usr/bin/npm start
Restart=always
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ app_path }}/{{ app_name }}

[Install]
WantedBy=multi-user.target